html, body, nav, div, ul, li, p, a, h1, h3, h4 {
    margin: 0;
    padding: 0;
}

/*Don't panic. I'm putting notes in front of things so I know what I am doing before I get there. Cool*/ 
body { 
    background-image: url(../images/beachhut.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

.top {
    height: 50px;
    margin-bottom: 50px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/*following is all navigation stuff*/
nav {
    border: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    color: #000;
    background-color: rgba(225,225,225,1.0);
    font-size: 1.2em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    color: #000;
    /*text-align: center;*/
    padding: 0.938em;
    background-color: rgba(225,225,225,1.0);
    font-size: 1.2em;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #3eefbd;
    color: #fff;
}

/*next up is responsive css design to change the navigation to vertical when screen gets smaller, getting fancy here*/
@media screen and (max-width:900px) {
    nav ul li {float: none;font-size:0.8em;text-align: center;}
    nav ul li a:link {padding: 0.5em;}
}

/*out of navigation woods, we encounter a little welcome section, how nice*/
.welcome {
    background-color: rgba(225,225,225,0.7);
    padding: 0.625em 2.2em;
}

h1 {
    text-align: center;
}

.intro {
    text-align: center;
    list-style-position: inside;
    font-size: 1.250em;
}

/*the following creates the opaque background in each section to make the writing visible. genius creation! Also is styling of each section.*/
.peace {
    background-color: rgba(225,225,225,0.8);
    font-size: 1.125em;
    padding: 0.625em 2.2em;
}

/*the following is for the circles with the swan at the top of each section, this was really tedious so don't mess it up lol*/
.surroundme, .intune, .standup, .letgo {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 2.7em;
    font-weight: bold;
    color: #3eefbd;
    text-shadow: 2px 2px 0px #000;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 50%;
    background-color: #000;
    background-image: url(../images/bluelakeswan.jpg);
    background-size: 100%;
    box-shadow: -5px 0 10px 5px #fff, 5px 0 10px 5px #fff;
}

.hidden {
    height: -5px;
}

.video {
    text-align: center;
}

/*wanted my paragraphs to look a lil fancier...*/
p::first-letter {
    font-size: 2em;
    font-family: 'Macondo', cursive, serif;
}

.footer {
    background-color: rgba(225,225,225,0.7);
    padding: 0.625em 2.2em;
    margin: 4.688em 0 2.2em 0;
    overflow: hidden;
    position: relative;
}

.form {
    float: left;
}

input {
    padding: 2px;
    margin: 5px;
}

.social {
    float: right;
    position: absolute;
    bottom: 1.250em;
    right: 1.438em;
}

/*remove underline from links*/
a {
    text-decoration: none;
    /*color: #0f3f8c;*/
}    

/*remove bullets from list*/
ul {
    list-style: none;
}

